
body {
    background-color: darkslateblue;
}

#box {
    background-color: darkred;
    width: 100px;
    height: 100px;
    padding: 20px 10px; /* order is top, right, bottom, left(clockwise) */
    border:  thick double black;
    margin: 10px;
}

#box2 {
    box-sizing: border-box;
    background-color: darkgreen;
    width: 100px;
    height: 100px;
    padding: 20px 10px; /* order is top, right, bottom, left(clockwise) */
    border:  thick double black;
    margin: 10px;

}

#box3 {
    box-sizing: border-box;
    background-color: orange;
    width: 100px;
    height: 100px;
    padding: 20px 10px; /* order is top, right, bottom, left(clockwise) */
    border:  thick double black;
    margin: 10px;
}

#box4 {
    background-color: purple;
    width: 100px;
    height: 100px;
    padding: 20px 10px; /* order is top, right, bottom, left(clockwise) */
    border:  thick double black;
    margin: 10px;
}