nav {
    box-sizing: border-box;
    background-color: grey;
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul {
    box-sizing: border-box;

}

#ul-1 {
    justify-content: flex-start;
    padding: .5em .2em 0 0;

}

#ul-2 {
    justify-content: flex-end;
    padding: .2em;
}

li {
    box-sizing: border-box;
    display: inline-block;

}

a {
    box-sizing: border-box;
    display: inline-block;
    padding: .5rem .2rem;
    color: black;
    align-items: flex-end;

}

a:hover {
    color: blue;

}

p {
    font-size: 3em;
    padding: .2em;
    margin: auto;
}

