
.fancy-header {
    color: mediumpurple; /* single line comment */
    text-decoration: underline;
    text-align: center;
}

body {
    background-color: darkslateblue;
    background-image: url("https://images.unsplash.com/photo-1529963183134-61a90db47eaf?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDExfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "georgia", sans-serif;
}

h2 {
    font-family: "courier-new", monospace;
    color: green;
    text-decoration: underline;
}

li {
    list-style: none;
}

li:before {
    content: "Ω ";
}
/* web safe fonts example */
#table-header {
    font-family: 'Arial', sans-serif;
}

table {
    /* differences between px, em, & rem */
    padding: .5rem;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Times New Roman', serif;
    color: cornsilk;

}

a:visited {
    color: green;
}

a:hover {
    color: cornsilk;
}

a:link {
    color: blue;
}

a:active {
    color: red;
}

/* ----- websafe fonts(per w3 schools)
     ------- can adapt to any browser on any device -------
Arial (sans-serif)
Verdana (sans-serif)
Helvetica (sans-serif)
Tahoma (sans-serif)
Trebuchet MS (sans-serif)
Times New Roman (serif)
Georgia (serif)
Garamond (serif)
Courier New (monospace)
Brush Script MT (cursive)
*/

/* ----- difference in pixels, ems, and rems
px is NOT scaleable
em and rem are responsive interpreted into equivalent px unit by browser
*/

/* ----- controlling spacing betwwen letters in css
some-el {
    letter-spacing: 2px;
   OR
   letter-spacing: 1em -- element
   OR
   letter-spacing: 1rem -- root element
}
*/

/* ----- changing the case of letters in css

some-el {
    text-transform: lowercase;  -- makes all of the letters in the selected element to lowercase
    OR
    text-transform: uppercase;  -- makes all of the letters in the selected element to uppercase
    OR
    text-transform: capitalize  -- capitalizes the first letter of each word in the selected element
}
*/




