:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}

* {
    box-sizing: border-box;
}

body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}

a {
    color: var(--link-color);
}

.top-nav {
    background: var(--light-bg);
    z-index: 100;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #0fb784;
}

.nav-item {
    display: inline-block;
    height: 3em;
    padding: 1em;
}

.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--link-color);
}

.profile {
    background: var(--light-bg);
    height: 80px;
}

.profile-form {
    float: right;
    line-height: inherit;
}

.profile-details {
    margin: 3em 0 .5em 0;
    width: 25%;
    float: left;


}

.timeline {
    width: 50%;
    float: left;

}

.who-to-follow {
    width: 25%;
    float: right;
    padding: .5em;
    margin-top: -8px;
}

.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}

.btn-large {
    font-size: 1.3em;

}

.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}

.text-right {
    text-align: right;
    padding: 1em;
}

.text-muted {
    color: var(--main-link-color);

}
.media {
    width: 100%;
    padding: .5em;
    margin-top: .5em;
    background-color: whitesmoke;

}

#img-1 {
    float: left;
    margin-right: 10px;
}

#img-2 {
    float: left;
    margin-right: 10px;
}

#img-3 {
    float: left;
    margin-right: 10px;
}






